.name {
    font-size: large;
    font-weight: bold;

}

.row {
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.price {
    display: inline-block;
    right: 0;
    color: yellow;
}

.buttoncol {
    width: 10%;
}
.buttoncol button {
    width: 100%;
    margin-top: 25%;
}

.imagecol img {
    display: inline-block;
}