<!-- {{arts|json}} -->
<div class="container">
    <div *ngFor="let art of arts" class="row">
        <div class="col">
            <div *ngFor="let thisrow of rows" [ngClass]="thisrow.key == 'name' ? 'name' : 'no'">
                {{[thisrow.text]}}{{art[thisrow.key]}}
                <div *ngIf="art.id == [thisid]">
                    <input [(ngModel)]="newArt[thisrow.key]" [type]="thisrow.type">
                </div>
            </div>
            <div *ngIf="art.id == [thisid]">
                <button class="btn btn-warning" (click)="editArt(art.id)">Confirm</button>
            </div>
        </div>
        <div class="col imagecol">
            <img [src]="art.image_url">
        </div>
        <div class="buttoncol">
            <button class="btn btn-primary" (click)="setId(art.id,art)">Edit</button>
            <br>
            <button class="btn btn-danger" (click)="deleteArt(art.id)">Delete</button>
        </div>
    </div>
</div>